.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .chat-header {
        padding: 10px 1rem;
        border-bottom: 1px solid #ddd;

        .profile-preview {
            display: flex;
            align-items: center;

            .profile-img {
                width: 45px;
                height: 45px;
                background-color: #fff;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    object-fit: cover;
                    flex: 1;
                }
            }

            .desc {
                margin-left: 10px;

                .username {
                    display: block;
                    font-size: 15px;
                    font-weight: 600;
                }
                .caption {
                    display: block;
                    font-size: 12px;
                }
            }
        }
    }

    .chat-body {
        flex: 1;
        padding: 1rem;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #F7F7F7;
        box-shadow: 
			inset 0 2rem 2rem -2rem rgba(black, 0.05),
			inset 0 -2rem 2rem -2rem rgba(black, 0.05);
        &::-webkit-scrollbar {
            width: 7px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #8d8a8a;
            border-radius: 15px;
        }

        .time {
            font-size: 0.8rem;
			background: #EEE;
			padding: 0.25rem 1rem;
			border-radius: 2rem;
			color: #999;
			width: fit-content;
			margin: 0 auto;
        }

        .message-card {
            box-sizing: border-box;
			padding: 0.5rem 1rem;
			margin: 1rem;
			background: #FFF;
			border-radius: 1.125rem 1.125rem 1.125rem 0;
			min-height: 2.25rem;
			width: fit-content;
			max-width: 66%;
			box-shadow: 
				0 0 2rem rgba(black, 0.075),
				0rem 1rem 1rem -1rem rgba(black, 0.1);
            
            &.sender {
                margin: 1rem 1rem 1rem auto ;
				border-radius: 1.125rem 1.125rem 0 1.125rem;
				background: #b1e4ff;

            }

            .typing {
				display: inline-block;
				width: 0.8rem;
				height: 0.8rem;
				margin-right: 5px;
				box-sizing: border-box;
				background: #ccc;
				border-radius: 50%;

                &:last-child {
                    margin-right: 0;
                }
				
				&.dot-1 { animation: typing 3s infinite }
				&.dot-2 { animation: typing 3s 250ms infinite }
				&.dot-3 { animation: typing 3s 500ms infinite }
            }
        }
    }

    .chat-footer {
        padding: 1rem;
        display: flex;
        align-items: center;

        .input-container {
            flex: 1;
            display: flex;
            align-items: center;
            margin-right: 8px;
            padding: 10px 5px;
            // border: 1px solid #888;
            border-radius: 15px;
            overflow: hidden;
            background-color: #f1f3f5;

            .emoji-button {
                border: none;
                // background-color: #fff;
                background-color: #f1f3f5;
                padding: 12px 5px 12px 12px;
                font-size: 16px;
                align-self: flex-end;
            }

            .chat-textarea {
                flex: 1;
                padding: 12px;
                font-size: 16px;
                border: none;
                resize: none;
                box-sizing: border-box;
                // overflow-y: scroll; /* Ensure the textarea has a vertical scrollbar */
                scrollbar-width: thin; /* For Firefox */
                scrollbar-color: #ddd #f4f4f4; /* For Firefox */
                line-height: 1.5;
                background-color: #f1f3f5;

                &:active,
                &:focus {
                    outline: none;
                }

                &::-webkit-scrollbar {
                    width: 7px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #ddd;
                    border-radius: 15px;
                }
            }
        }

        .send-button {
            align-self: flex-end;
            font-size: 16px;
            padding: 12px;
            border: none;
            background-color: #1330d4;
            color: #fff;
            border-radius: 15px;
        }
    }
}


@keyframes typing {
	0%, 75%, 100% {
		transform: translate(0, 0.25rem) scale(0.9);
		opacity: 0.5;
	}
	
	25% {
		transform: translate(0, -0.25rem) scale(1);
		opacity: 1;
	}
}