<div class="chat-container">
    <header class="chat-header">
        <div class="profile-preview">
            <div class="profile-img">
                <img src="assets/images/man.png" alt="">
            </div>
            <div class="desc">
                <span class="username">{{selectedChat?.fullName}}</span>
                <span class="caption">{{selectedChat?.slogan}}</span>
            </div>
        </div>
    </header>
    <div #messageBody class="chat-body">

        <div class="container">

            <div class="time">
                <span>11:24 AM</span>
            </div>
            <div *ngFor="let chat of selectedChat?.chats" [ngClass]="{'outgoing': chat?.sender?.id === user?.id}" class="message-card">
                <div class="message-body">
                    <span>{{chat?.message}}</span>
                </div>
                <div class="sent-time">
                    <span>{{chat.sentAt | date: 'shortTime'}}</span>
                </div>
            </div>

            <div *ngIf="isTyping" class="message-card">
                <span class="typing dot-1"></span>
                <span class="typing dot-2"></span>
                <span class="typing dot-3"></span>
            </div>

        </div>
    </div>
    <div class="chat-footer">
        <div class="input-container">
            <button class="emoji-button"><i class="far fa-smile"></i></button>
            <!-- <i class="fa-regular fa-face-smile"></i> -->
            <textarea #textareaInputField  
            (input)="onInput()"
            (keydown)="onKeyDown($event)" 
            [(ngModel)]="chatForm.message"
            class="chat-textarea" rows="1" 
            placeholder="Type message..." autofocus="true">
        </textarea>
        </div>
        <button class="send-button" (click)="onClick()" type="button" [disabled]="!chatForm.message">
            <img src="assets/icons/send.png" alt="" srcset="">
        </button>
    </div>
</div>
