:host {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container {
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
  }

  .register-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #0747a6;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    font-weight: bold;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }

  .form-group button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #0747a6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .login-link {
    text-align: center;
    margin-top: 10px;
  }

  .success-info {
    text-align: center;
    img {
      width: 70px;
      height: auto;
      margin-bottom: 20px;
    }

    h2 {
        text-align: center;
        margin-bottom: 30px;
        color: #0747a6;
    }
  }