<div class="chat-container">
    <app-list [messages]="contacts" (chatEmitter)="viewChat($event)"></app-list>
    <app-messages *ngIf="isViewChat" [selectedChat]="selectedChat" (sendMessageEmitter)="sendMessage($event)"></app-messages>

    <div *ngIf="!isViewChat" class="landing-page">
        <div class="container">
            <header class="header">
                <div class="profile-preview">
                    <div class="profile-img">
                        <img src="../../../../favicon.ico" alt="">
                    </div>
                    <div class="desc">
                        <span class="welcome">Hi</span>
                        <span class="username">{{user?.fullName}}</span>
                    </div>
                </div>
            </header>
            <section class="content-section">
                <div class="col-md-12 info">
                    <h3>Welcome to uChat</h3>
                    <p>Connect, Communicate, Collaborate - Your Ultimate Chat Experience</p>
                </div>
                <div class="col-md-12 info">
                    <h3>🚀 Why Choose uChat</h3>
                    <p>Transform your communication with uChat, the feature-rich, user-friendly chat app designed for seamless collaboration.</p>
                </div>
                <div class="col-md- info">
                    <h3>🌐 Connect Anywhere, Anytime</h3>
                    <p>Stay in touch with friends, family, and colleagues effortlessly. Our app is accessible on multiple devices, ensuring you're connected wherever life takes you.</p>
                </div>
                <div class="col-md-12 info">
                    <h3>💬 Feature-Packed Messaging</h3>
                    <p>Experience next-level messaging with a suite of features. From text and multimedia messages to voice and video calls, [Your Chat App Name] has you covered.</p>
                </div>
            </section>
        </div>
    </div>
</div>
