:host {
  display: block;
  height: 100%;
  width: 100%;
}

.chat-container {
  display: flex;
  height: 100%;
  app-list {
    width: 400px;
    // border-right: 2px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  app-messages {
    flex: 1;
    display: flex;
  }
}
