<div class="chat-list-container">
    <header class="header-area">
        <div class="profile-preview">
            <div class="profile-img">
                <!-- <img src="../../../../favicon.ico" alt=""> -->
                <span class="profile-placeholder">DY</span>
            </div>
            <div class="desc">
                <span class="username">Dominic yegon</span>
                <span class="caption">Being crazy</span>
            </div>
        </div>
    </header>
    <section class="contact-section">
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>


        <!--  -->
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <div class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">Dominic Yegon</span>
                    <span class="last-message-time">12:18 PM</span>
                </div>
                <span class="last-message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eos.
                </span>
            </div>
        </div>
        <!--  -->
    </section>
</div>