<div class="chat-list-container">
    <header class="header-area">
        <div class="profile-preview">
            <div class="profile-img">
                <!-- <img src="../../../../favicon.ico" alt=""> -->
                <span class="profile-placeholder">DY</span>
            </div>
            <div class="content-wrapper">
                <div class="desc">
                    <span class="username">{{user?.fullName}}</span>
                    <span class="caption">Being crazy</span>
                </div>
                <div class="actions">
                    <span (click)="isSearchItem = !isSearchItem" type="button" title="New chat">
                        <img src="assets/icons/new-message.png" alt="New chat">
                    </span>
                </div>
            </div>
        </div>
    </header>
    <section class="contact-section">
        <div *ngFor="let chat of messages" (click)="viewChat(chat)" [ngClass]="{'active': chat?.id === currentActiveId}" class="contact-card">
            <div class="avatar">
                <img src="../../../../favicon.ico" alt="">
            </div>
            <div class="details">
                <div class="name-and-time">
                    <span class="full-name">{{chat?.fullName}}</span>
                    <span class="last-message-time">{{chat.sentAt | date: 'shortTime'}}</span>
                </div>
                <span class="last-message">
                    {{chat?.lastMessage}}
                </span>
            </div>
        </div>
    </section>

    <div class="contact-search" [ngClass]="{'search': isSearchItem}">
        <div class="header">
            <button (click)="isSearchItem = !isSearchItem"><i class="fa fa-arrow-left"></i></button>
            New chat
        </div>
        <section class="contacts">
            <div *ngFor="let contact of allContacts" (click)="viewChat(contact); isSearchItem=false;" class="contact-card">
                <div class="avatar">
                    <img src="../../../../favicon.ico" alt="">
                </div>
                <div class="details">
                    <div class="name-and-time">
                        <span class="full-name">{{contact?.fullName}}</span>
                    </div>
                    <span class="last-message">
                        Being crazy
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>