<div class="login-container">
    <h2>Login</h2>
    <div *ngIf="errorMessage" class="alert alert-danger text-center mb-2">
      {{errorMessage}}
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" formControlName="username" class="form-control" id="username" placeholder="Enter your username">
        <div class="mt-2" *ngIf="(username?.dirty || username?.touched) && username?.invalid">
          <span class="is-invalid" *ngIf="username?.errors?.['required']">Username is required</span>
          <span class="is-invalid" *ngIf="username?.errors?.['email']">Invalid email address</span>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Enter your password">
        <div class="mt-2" *ngIf="(password?.dirty || password?.touched) && password?.invalid">
          <span class="is-invalid" *ngIf="password?.errors?.['required']">Password is required</span>
          <span class="is-invalid" *ngIf="password?.errors?.['minlength']">Password too short</span>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
    <div class="forgot-password">
      <a href="#">Forgot Password?</a>
    </div>
    <div class="registration-link">
      <p>Don't have an account? <a [routerLink]="['/register']">Register</a></p>
    </div>
</div>